.p-calendar-w-btn .p-datepicker-trigger {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 0 solid transparent;
  position: absolute;
  right: 2px;
}

.p-calendar-w-btn .p-button:enabled:hover {
  background: transparent;
  color: #428eff;
  border: none;
}

.p-calendar.p-calendar-w-btn .p-icon-wrapper:not(timesicon) {
  color: #428eff;
  display: inline-block;
  transform: scale(1.6);
}

.p-calendar.p-calendar-w-btn timesicon.p-icon-wrapper {
  display: inline-block;
  width: 35px;
  background-color: transparent;
  height: 35px;
  border: none;
  position: absolute;
  right: 50px;
}

.p-inputwrapper .p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  border-color: #fff;
}

.p-calendar.p-calendar-w-btn .p-button:focus {
  box-shadow: none;
}

.p-calendar.p-calendar-w-btn .p-inputtext {
  box-shadow: none;
}

.p-calendar {
  border: 1px solid var(--surface-border);
  border-radius: 5px;
  background-color: #fff;
}

.p-calendar-disabled {
  background-color: #ddd !important;
  border-color: #ddd !important;
}

.p-calendar-disabled .p-button:disabled {
  background-color: transparent !important;
}
