.p-datatable .p-datatable-tbody > tr > td {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #404041;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #e0e0e0;
}
