
<div class="container-fortaleza">
    <div class="p-5">
        <app-titulo-principal [titulo]="'Aviso de privacidad'"/>
    </div>   
    <div class="flex align-items-center justify-content-center">
        <div class="flex align-items-start flex-column box-aviso-privacidad">
            <p class="aviso-privacidad">Con fundamento en lo dispuesto en el artículo 27 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados; artículo 5, fracción VI de la Ley de Seguridad Nacional, artículo 39, fracción III de la Ley General del Sistema Nacional de Seguridad Pública. Con el fin de dar a conocer la información relativa a las características principales del tratamiento al que serán sometidos los datos personales, se emite el presente Aviso de Privacidad. La Empresa de Participación Estatal Mayoritaria denominada Aeropuerto Internacional “Felipe Ángeles” S.A. de C.V. (en lo sucesivo “AIFA”) a través de la Gerencia de Identificación Aeroportuaria (en lo sucesivo “GIA”), declara ser una Gerencia incorporada a la Dirección de Operación.</p>
            <p class="aviso-privacidad">Finalidad del tratamiento de datos personales:</p>
            <p class="aviso-privacidad">La Gerencia de Identificación Aeroportuaria, requiere los datos personales según las especificidades laborales de cada empleado (clientes y usuarios), esto con el objeto de autorizar el acceso a las diferentes Zonas del Aeropuerto, atendiendo al hecho de que es una instalación de carácter estratégico.</p>
            <p class="aviso-privacidad">Las transferencias de los datos personales:</p>
            <p class="aviso-privacidad">La Gerencia de Identificación Aeroportuaria no genera transferencias de datos personales, salvo cuando se atiendan requerimientos por parte de la autoridad competente, mismos que deberán estar adecuadamente fundados motivados.</p>
            <p class="aviso-privacidad">Si desea conocer nuestro Aviso de Privacidad, la Gerencia de Identificación Aeroportuaria señala como domicilio: Circuito Exterior Mexiquense Km. 33, Santa Lucía, Zumpango, Estado de México, C.P. 55640, Nivel 2 (5.25) o bien en la Unidad de Transparencia ubicada en Insurgentes Sur No. 3211, Col. Insurgentes, Cuicuilco, Alcaldía Coyoacán, Ciudad de México, C.P. 04530.</p>           
        </div>
    </div> 
    <p-divider />
    <div class="flex justify-content-end">        
        <button id="aceptar-aviso-privacidad" pButton  (click)="aceptar()">Aceptar</button>
    </div>
</div>
