.title-personal-autorizado {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #101828;
}

.sub-title-personal-autorizado {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  text-align: left;
  color: #667085;
}

span.campo-obligatorio {
  margin-top: 4px;
  font-size: 10px;
  color: #e10000;
  display: block;
}

