::ng-deep .p-panel .p-panel-content {
  border: 1px solid var(--surface-border);
  margin: 16px;
}

.header-panel {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #1E1C1C;
}
