<div class="p-5">
  <app-titulo-principal [titulo]="'Detalle de ' +
  (detalleRegistro.contrato.idTipo === 1 ? 'contrato' : 'acuerdo')" [ruta]="'./..'"/>
</div>

@if (detalleRegistro.contrato.refMotivoCancelacion) {
  <p-messages severity="error" [styleClass]="'ml-4 mr-4'">
    <ng-template pTemplate>
      <img src="assets/images/icons/rechazar_icon.svg" width="32"/>
      <div class="ml-2 titulo-mensaje-rechazado">Contrato rechazado</div>
      <div class="ml-5">
        <p class="sub-titulo-mensaje-rechazado">Motivo</p>
        <span class="content-mensaje-rechazado">{{ detalleRegistro.contrato.refMotivoCancelacion }}</span>
      </div>
    </ng-template>
  </p-messages>
}

<p-panel class="ml-3 mr-3" [showHeader]="false">
  <div class="flex align-content-start ml-3">
    <p-avatar icon="icon-user_data" styleClass="mr-2" size="xlarge"
              [style]="{ 'background-color': '#F4EBFF', color: '#8C38A8', border: '3px solid #F9F5FF' }"
              shape="circle"/>
    <h2 class="header-panel">Datos iniciales</h2>
  </div>
  <div class="flex flex-row mt-4">
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Número de contrato:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.refContrato | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-6 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Nombre o Razón Social:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.razonSocial | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">RFC:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.rfc | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Tipo de organismo:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.tipoProveedor }}
          }
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-row mt-4">
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Marca o sigla del organismo:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.siglasEmpresa | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Número de colaboradores:</span>
        <span class="mb-4 campo-info">
           @if (detalleRegistro.contrato) {
             {{ detalleRegistro.contrato.numColaboradores }}
           }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Fecha de inicio de vigencia:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.fecInicioVigencia | date:'dd/MM/YY' }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Fecha fin de vigencia:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.fecFinVigencia | date:'dd/MM/YY' }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">¿Requiere curso AVSEC?:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.refIndCursoAvsec | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">¿Es una sucursal?:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.refIndSucursal | uppercase }}
          }
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-row mt-4">
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Giro de la empresa:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.refGiro | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-6 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Dirección completa:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.refDireccion | uppercase }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Número de empleados operativos:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.numOperativos }}
          }
        </span>
      </div>
    </div>
    <div class="lg:col-2 pr-3 pl-3">
      <div class="flex flex-column">
        <span class="control-label mb-4">Número de empleados administrativos:</span>
        <span class="mb-4 campo-info">
          @if (detalleRegistro.contrato) {
            {{ detalleRegistro.contrato.numAdministrativos }}
          }
        </span>
      </div>
    </div>
  </div>
</p-panel>

<p-panel class="ml-3 mr-3" [showHeader]="false">
  <div class="flex justify-content-between align-items-center">
    <div class="flex align-content-start ml-3">
      <p-avatar
        icon="icon-add-user"
        styleClass="mr-2"
        size="xlarge"
        [style]="{ 'background-color': '#F4EBFF', color: '#8C38A8', border: '3px solid #F9F5FF' }"
        shape="circle"/>
      <h2 class="header-panel">Personal autorizado</h2>
    </div>
  </div>

  <div class="px-5 pb-5 mt-3">
    <p-table [value]="personalAutorizado()" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true"
             [resizableColumns]="true" [columnResizeMode]="'expand'" [lazy]="true">
      <ng-template pTemplate="sorticon" let-order>
        @switch (order) {
          @case (0) {
            <img width="14" src="assets/images/icons/chevron-contract.svg" alt=""/>
          }
          @case (1) {
            <img width="14" src="assets/images/icons/chevron-down.svg" alt=""/>
          }
          @default {
            <img width="14" src="assets/images/icons/chevron-up.svg" alt=""/>
          }
        }
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Nombre(s)</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">CURP</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Apellido paterno</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Apellido materno</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Correo electrónico</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Cargo que desempeña</span>
            </div>
          </th>
          <th scope="col">
            <div class="flex justify-content-between align-items-center">
              <span class="text-chico">Acciones</span>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-personal let-rowIndex="rowIndex">
        <tr>
          <td>{{ personal.cveCurp }}</td>
          <td>{{ personal.refNombre }}</td>
          <td>{{ personal.refPrimerApellido }}</td>
          <td>{{ personal.refSegundoApellido }}</td>
          <td>{{ personal.refMail }}</td>
          <td>{{ personal.refCargo }}</td>
          <td>
            @if (personal.indPrincipal) {
              <div class="flex gap-3 align-items-center">
                <p-avatar
                  icon="icon-user-star" pTooltip="Usuario principal" [tooltipPosition]="'left'"
                  styleClass="mr-2" size="xlarge" shape="circle"
                  [style]="{ 'background-color': '#F4DB6066', color: '#C1A519', width: '30px', height: '30px'}"
                />
              </div>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center header-panel"> Sin Resultados</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</p-panel>


<p-panel class="ml-3 mr-3" [showHeader]="false">
  <div class="flex justify-content-between align-items-center">
    <div class="flex align-content-start ml-3">
      <p-avatar
        [image]="'assets/images/icons/formato_icon.svg'" styleClass="mr-2" size="xlarge"
        shape="circle"/>
      <h2 class="header-panel">Formato de Personal autorizado</h2>
    </div>
  </div>

  <div class="px-5 pb-5 mt-3">
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true"
             [resizableColumns]="true" [columnResizeMode]="'expand'" [value]="documentos()">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" colspan="7">
            <span class="text-chico">Nombre del archivo</span>
          </th>
          <th scope="col" class="flex justify-content-end">
            <span class="text-chico">Acciones</span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-documento>
        <tr>
          <td colspan="7">
            <div class="flex justify-content-start align-items-center">
              <img src="assets/images/icons/icon-pdf.svg" alt="Icono PDF">
              <span class="text-chico">{{ documento }}</span>
            </div>
          </td>
          <td class="flex justify-content-end mr-3">
            <img src="assets/images/icons/icon-detalle.svg" alt="action" (click)="toggle($event)" class="cursor-pointer"
                 (keydown)="handleKeyDown($event)" [style]="{ height: '30px', width: '30px'}"/>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="text-center header-panel"> Sin Resultados</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>

