::ng-deep .p-panel .p-panel-content {
  border: 1px solid var(--surface-border);
  margin: 16px;
}

.campo-info {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #404041;
}
