::ng-deep .p-tabview .p-tabview-panels  {
  background-color: transparent;
}

::ng-deep .p-tabview .p-tabview-nav {
  background-color: transparent;
}

p-tabview {
  max-width: 450px;
}

::ng-deep .p-tabview-nav {
  display: flex;
  justify-content: space-between;
}
.mayusculas{
  text-transform: uppercase;
}