<header>
  <div class="inner-header">
    <div class="content-header">
      <div class="flex align-items-center">
        <span class="titulo-fortaleza">
          <img src="assets/images/logo_header.svg" class="w-full" alt="Aeropuerto Internacional" />
        </span>
        <span class="gob-mx-base-blanco pr-4">|</span>
        <span class="texto-fortaleza">Sistema Fortaleza</span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="flex px-3">
          <div class="flex flex-column px-4">
            <span class="username">{{ usuarioSesion?.nombre }}</span>
            <span class="role block text-right font-medium">{{ usuarioSesion?.rol }}</span>
          </div>
          <div class="square bg-aifa-mx-pr-verde-tono3 flex justify-content-center align-items-center p-3 px-3">
            <img src="/assets/images/icons/user.svg" alt="" />
          </div>
        </div>

        <span class="bar"></span>
        <div
          class="flex align-items-center justify-content-between cursor-pointer px-3 close-sesion"
          (click)="cerrarSesion()"
          (keydown)="handleKeyDown($event)">
          <span class="text-chico px-2">Cerrar sesión</span>
          <img class="cursor-pointer" src="/assets/images/icons/logout.svg" alt="" style="fill: white" />
        </div>
      </div>
    </div>
  </div>
</header>
