.title-personal-autorizado {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #101828;
}

.sub-title-personal-autorizado {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  text-align: left;
  color: #667085;
}

input {
  width: 100%;
  height: 35px;
  padding: 0 12px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #f6f6f6;
  box-shadow: none;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &.ng-invalid.ng-touched {
    border: 1px solid #e10000 !important;

    &::placeholder {
      color: #e10000;
    }
  }
}

i + img {
  right: 20px;
}

input:not(.ng-invalid.ng-touched) ~ img {
  right: 0;
}

span.campo-obligatorio {
  margin-top: 4px;
  font-size: 10px;
  color: #e10000;
  display: block;
}

.campos-obligatorios {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.input-icon-right {
  position: relative;
  display: block;
  width: 100%;

  i {
    position: absolute;
    top: 1.5rem !important;
    right: 1rem !important;
    pointer-events: none;

    &.md {
      top: 1.3rem;
      right: 0.5rem !important;
    }
  }

  img {
    position: absolute;
    top: 0.1rem;
    right: 5rem;
    cursor: pointer;
    transition: right 0.3s ease;
  }
}
